* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
padding: 15px;
}

main {
height: calc(100vh - 70px);
display: flex;
background-color: #f9f9f9;
}

.form {
height: 100%;
width: 17%;
background-color: white;
overflow-y: hidden;
} 

@media (max-width: 768px) {
    .form {
        display: none;
    }
}

.story {
width: 100%;
display: flex;
flex-direction: column;
margin-bottom: 15px;
margin-top: 15px;
}

.scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.prompt {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}

.prompt input {
    width: 600px;
  padding:10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px
}

input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.prompt button {
    height: 100%;
  width: 60px;
  border: none;
}

.new-prompt { 
    margin-left: 10px;
}

.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}






